{% extends 'base.html' %}
{% block title %}Arbarr Arbarr | Travel Plan Create{% endblock %}

{% block body %}
{% load static %}

<div class="container p-5" id="form_outside">

    <img alt="gif peeking" id="form_gif1" width="150px" height="150px" src="{% static 'img/gif1.gif' %}">
    <img alt="gif boring" id="form_gif2" width="150px" height="150px" src="{% static 'img/gif2.gif' %}">

    <form method="POST" class="border border-dark border-5 p-5" id="form" action="/main/postcreate/" enctype="multipart/form-data">
        {% csrf_token %}
        <div>

            <h1 class="mb-5" style="text-align:center; font-family:Fantasy;">New Plan</h1>

            <div class="row">
                <div class="col-5 form-floating mb-3">
                    <input name="title" type="text" class="form-control form_input" id="floatingInput" placeholder="Title" required>
                    <label for="floatingInput"><b>Title</b></label>
                </div>
                <div class="col-3 mb-3">
                    <select name="region" class="form_input"
                        onfocus="this.size=6;"
                        onblur="this.size=0;"
                        onchange="this.size=1; this.blur()" required>

                        <option class="select_option" value="" disabled selected>Regions</option>
                        {% for region in regions %}
                        <option class="select_option" value="{{region.id}}">{{region.name}}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-2 form-floating mb-3">
                    <input name="adult" type="number" min="1000" step="1000" class="form-control form_input" id="floatingInput" placeholder="Adult per day" required>
                    <label for="floatingInput"><b>Adult-per-day</b></label>
                </div>
                <div class="col-2 form-floating mb-3">
                    <input name="child" type="number" min="1000" step="1000" class="form-control form_input" id="floatingInput" placeholder="Child-per-day" required>
                    <label for="floatingInput"><b>Child-per-day<b/></label>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-4">
                    <div class="mb-1">
                        <label for="floatingInput" class="form-label "><b>Image: ( 1 : 1 )(recommended)</b></label>
                        <input name="image" type="file" class="form-control form_input" id="floatingInput" oninput="preview.src= window.URL.createObjectURL(this.files[0])" required>
                    </div>

                    <div>
                        <img alt="travel" id="preview" width="100%" height="100%" src="{% static 'img/preview.jpg' %}">
                    </div>
                </div>

                <div class="col-8">
                    <div class="form-floating">
                        <textarea name="detail" class="form-control form_input form_input_ref" style="height:500px;" placeholder="Reference" id="floatingTextarea2" required></textarea>
                        <label for="floatingTextarea2"><b>Reference</b></label>
                    </div>
                </div>
            </div>

            <br/>

            <div class="d-flex flex-row-reverse m-2">
                <button type="submit" class="btn btn-outline-dark px-5 mx-2"><b> Create </b></button>
                <button onclick="window.history.back(); return false;" class="btn btn-outline-secondary px-5 mx-2"><b> Go back </b></button>
            </div>

        </div>
    </form>
</div>

{% endblock %}